.railway__map {
    position: absolute;
    top: 90px;
    padding: 0;
    left: 50%;
    margin-left: -468px;
    max-width: 937px;
}

@media screen and (max-width: 1024px) {
    .railway__map {
        position: absolute;
        top: 85px;
        padding: 0;
        left: 50%;
        margin-left: -442px;
        max-width: 883px;
    }
}

@media screen and (max-width: 768px) {
    .railway__map {
        position: absolute;
        margin-top: 70px;
        padding: 0;
        left: 50%;
        margin-left: -365px;
        max-width: 731px;
    }
}

@media screen and (max-width: 320px) {
    .railway__map {
        position: absolute;
        margin-top: 29px;
        padding: 0;
        left: 50%;
        margin-left: -152px;
        max-width: 304px;
    }
}