.intro__text {
    padding: 0;
    margin: 40px 0 0;
    max-width: 690px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
}

@media screen and (max-width: 768px) {
    .intro__text {
        padding: 0;
        margin: 40px 0 0;
        max-width: 720px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0em;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        max-width: 288px;
    }
}