.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
} 

@media screen and (max-width: 1024px) {
    .cover {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .cover {
      margin: 0 auto 88px;
    }
  }

  @media screen and (max-width: 500px) {
    .cover {
      margin: 0 auto 64px;
    }
  }