.cover__background {
    background-image: url(../../../image/__background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 62%;
    opacity: 0.7;
    transition: 0.3s;
}

.cover__background:hover {
    opacity: 0.3;
}
